{% extends 'base.html' %} {% block content %}
<h1>
  {% block title %} Cahuilla Online Dictionary {%
  endblock %}
</h1>
<form method="post">
    <div class="input-group">
        <input type="text" name="input"
               placeholder="what to search" class="form-control"
               value="{{ request.form['input'] }}"></input>
        <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>

    
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th><h2>'Ívillu'at</h2></th>
            
        </tr>
        </thead>
        <tbody>
        {% for entry in results%}
        <tr>
            <td>
                <h3>{{ entry['cahuilla'] }}</h3>
                <ul><i>{{ entry['origin'] }}, {{ entry['pos'] }}</i> </ul>
                <ul><b>{{ entry['english'] }}</b></ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
   

</form>
{% endblock %}
