{% extends 'base.html' %} {% block content %}
<h1>
  {% block title %} Welcome to the Cahuilla Online Dictionary {%
  endblock %}
</h1>
<form method="post">
    <div class="form-group">
        <label for="Search">Search query</label>
        <input type="text" name="input"
               placeholder="what to search" class="form-control"
               value="{{ request.form['input'] }}"></input>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    {% if 'converted' in text %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Orthography Source</th>
                <th>Conversion</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in text['converted'].items() %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

</form>
{% endblock %}
