{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Immersion Game{% endblock %}</h1>
<!-- <iframe
  src="https://scratch.mit.edu/projects/700451250/embed"
  allowtransparency="true"
  width="485"
  height="402"
  frameborder="0"
  scrolling="no"
  allowfullscreen
></iframe> -->
<iframe
  style="position: absolute; top: 50; left: 0; height: 85%; width: 85%"
  src="https://scratch.mit.edu/projects/700451250/embed"
  allowtransparency="true"
  frameborder="0"
  scrolling="no"
  allowfullscreen
></iframe>
{% endblock %}
